# Visual Studio
.vs/

# Visual Studio Code
.vscode/*
!.vscode/launch.json

# Game assets
GameAssets/Files
GameAssets/game_assets

# Game data
GameData/Data

# Metaprogramming
GameLibrary/GameEnums.h
GameLibrary/GameStructs.h

# Screen captures
Captures/*

# Binaries
bin/
**/*.spv

# Linking
Linking/

# Batch scripts
scripts/env.bat
scripts/hot.bat
scripts/meta.bat

# Build
GameBuild/build.conf
