# Visual Studio
.vs/
.vscode/

# Game assets
GameAssets/*/Files
!GameAssets/Shader/Files

GameAssets/game_assets

# Captures
Captures/

# Binaries
bin/
GameAssets/Assets/Shaders/*/*.spv

# Linking
Linking/

# Environment
bat/env.bat