# Visual Studio
.vs/

# Visual Studio Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Game assets
GameAssets/Files
GameAssets/game_assets

# Game data
GameData/Data

# Captures
Captures/*

# Binaries
bin/
**/*.spv

# Linking
Linking/

# Batch scripts
scripts/env.bat
scripts/hot.bat
scripts/meta.bat

# Build
GameBuild/build.conf
