COMPILER=MSVC
COMPILER_PATH={VISUAL_STUDIO_INSTALLATION_FOLDER}\Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC\{MSVC_VERSION}\bin\Hostx64\x64\cl.exe
PRECOMPILE_HEADERS=true

META=GameLibrary\Meta.cpp

MODE=DEBUG
RENDERER=DirectX

INCLUDE=
.\Linking\include;
{VULKAN_INSTALLATION_FOLDER}\{VULKAN_VERSION}\Include;
{VISUAL_STUDIO_INSTALLATION_FOLDER}\Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC\{MSVC_VERSION}\include;
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\Include\{WINDOWS_SDK_VERSION}\ucrt;
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\Include\{WINDOWS_SDK_VERSION}\um;
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\Include\{WINDOWS_SDK_VERSION}\shared;
.\GameAsset;
.\GameLibrary;
.\GameBuild;
.\GameData;
.\GamePlatform;
.\GamePlatform\Win32PlatformLayer;
.\GamePlatform\LinuxPlatformLayer

LIB=
.\Linking\lib;
{VULKAN_INSTALLATION_FOLDER}\{VULKAN_VERSION}\Include;
{VISUAL_STUDIO_INSTALLATION_FOLDER}\Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC\{MSVC_VERSION}\lib\x64;
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\lib\{WINDOWS_SDK_VERSION}\um\x64;
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\Lib\{WINDOWS_SDK_VERSION}\ucrt\x64

LINK=
user32.lib;
shell32.lib;
kernel32.lib;
ole32.lib
