@ECHO OFF

SET INCLUDE=^
{VISUAL_STUDIO_INSTALLATION_FOLDER}\Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC\{MSVC_VERSION}\include;^
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\Include\{WINDOWS_SDK_VERSION}\ucrt;^
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\Include\{WINDOWS_SDK_VERSION}\um;^
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\Include\{WINDOWS_SDK_VERSION}\shared;^
.\GameLibrary;^
.\Win32PlatformLayer

SET LIB=^
{VISUAL_STUDIO_INSTALLATION_FOLDER}\Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC\{MSVC_VERSION}\lib\x64;^
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\lib\{WINDOWS_SDK_VERSION}\um\x64;^
{WINDOWS_SDK_INSTALLATION_FOLDER}\Windows Kits\10\Lib\{WINDOWS_SDK_VERSION}\ucrt\x64

SET COMPILE="{VISUAL_STUDIO_INSTALLATION_FOLDER}\Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC\{MSVC_VERSION}\bin\Hostx64\x64\cl.exe"
